.c-instagram-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.c-instagram-gallery__item {
  width: 33.33%;
  font-size: 0;
  
  a {
    display: block;
  }
  
  img {
    width: 100%;
  }
}